#dashboard {
    .gauges {
        width: 600px;
        margin: 120px auto 80px auto;

        &.balance {
            margin: 60px auto;
            .amount {
                color: #fff;
            }
        }

        h2 {
            opacity: 0.77;
            font-size: 24px;
            color: #FFFFFF;
            letter-spacing: 4.17px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        .gauge,.amount {
            font-size: 61.44px;
            font-weight: 900px;
            color: #BBFF00;
            letter-spacing: 5.3px;
            text-align: center;
            margin-bottom: 20px;
        }
        .unit {
            font-size: 16px;
            color: #FFF;
            letter-spacing: 1.38px;
            text-align: center;
            text-transform: uppercase;
        }

        .mining-ratio {
            .gauge {
                color: #FFF;
            }
            .unit span:nth-child(1) {
                font-weight: 700;
            }

	    @media screen and (max-width: 900px) {
		    margin-top: 50px;
	    }
        }

        @media screen and (max-width: 900px) {
		width: auto;
        }
    }

    p {
        opacity: 0.73;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 5px;
	line-height: 2em;
        text-align: center;
    }

    .start-scanning {
        text-align: center;
        margin: 80px auto 60px;
        a {
            @include big-green-button;
            padding-top: 10px;
            padding-bottom: 20px;
        }

        .clock {
            color: #230660;
            letter-spacing: 10px;
        }
    }


    .completed-scanning {
        text-align: center;
        margin: 80px auto 40px;

        p {
            text-transform: uppercase;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 5px;
            text-align: center;
        }

        .clock {
            margin-top: 40px;
            color: #FFF;
            font-size: 32px;
            letter-spacing: 20px;
        }
    }

}
