#index {

    h2.earn {
        margin-top: 62px;
        font-size: 28px;
        color: $green;
        letter-spacing: 2.07px;
        text-align: center;
        font-weight: 800;

        @media screen and (max-width: 900px) {
            font-size: 18px;
        }
    }

    p.how {
        margin-top: 12px;
        font-family: OpenSans-BoldItalic;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0.24px;
        text-align: center;
    }

    ul.steps {
        width: 180px; 
        margin: 82px auto;
        li {
            font-weight: 300;
            font-size: 19.2px;
            color: $purple;
            letter-spacing: 2.88px;
            padding-bottom: 32px;
            padding-left: 32px;
        }

        li:nth-child(1) {
            background: url(/img/1.svg) no-repeat;
        }

        li:nth-child(2) {
            background: url(/img/2.svg) no-repeat;
        }

        li:nth-child(3) {
            background: url(/img/3.svg) no-repeat;
        }
    }


    .call-to-action {
        text-align: center;
        a.button {
            background: $green;
            border-radius: 55px;
            font-size: 48.4px;
            font-weight: 900;
            color: #230660;
            letter-spacing: 6.65px;
            text-align: center;
            padding: 16px 80px;
            margin: -26px auto;
            border: solid 2px $background;
            text-decoration: none;

            cursor: pointer;

            transition: background-color 0.5s ease-in;

            &:hover {
                background-color: yellow;
                border: solid 2px white;
            }

	    @media screen and (max-width: 900px) {
		    font-size: 36px;
		    padding: 16px 60px;
	    }
        }

        a.returning-user {
            display: inline-block;
            margin-top: 35px;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 1.8px;

        }
    }

    .instant-cashout {
        margin-top: 120px;
        height: 150px;

        h2 {
            font-weight: 300;
            font-size: 13.27px;
            color: $purple;
            letter-spacing: 4.86px;
            text-align: center;
            text-transform: uppercase;
        }

        background: url("/img/eth-logo.svg") no-repeat;
        background-position: center;
    }
}
