#menu {
    position: absolute;
    top: 50px;

    @media screen and (max-width: 900px) {
       top: 30px;
    }

    left: 0;
    right: 0;
    ul {
        display: flex;
        @media screen and (min-width: 900px) {
	    width: 500px;
	    margin: -20px auto;
        }

        // @media screen and (max-width: 900px) {
	//     margin: -85px auto;
	// }

        li {
            display: inline-block;
            flex: 0 0 33.3333%;
            text-align: center;

            &:first {
                text-align: left;
            }

            &:last {
                text-align: right;
            }

            &.scans span {
                border: 1px solid #fff;
                padding: 5px 8px;
                border-radius: 5px;
            }

            a {
                color: #fff;
                font-size: 16px;
                letter-spacing: 1.38px;
                text-align: center;
                text-decoration: none;


                opacity: 0.6;

                &:hover {
                    opacity: 1.0;
                }
            }


            &.current a {
                font-weight: 600;
                opacity: 1.0;
            }
        }
    }
}
