#scan {
    .qrcode {
        width: 400px;
        height: 400px;
        margin: 40px auto;
    }

    .earned,.scansleft,.remaining {
        margin: 80px auto 20px auto;
        
        .amount {
            span {
                opacity: 0.6;
            }
            display: block;
            font-weight: 800;
            font-size: 48px;
            color: #FFFFFF;
            letter-spacing: 6.44px;
            text-align: center;
            padding-right: 1em;
        }
        .subtext {
            display: block;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 20px;
            text-align: center;
            overflow: hidden;
            margin-top: 10px;
            opacity: 0.8;
        }
    }

    .stats {
        width: 400px;
        margin: 0px auto;

        .amount {
            padding: 0;
            font-size: 32px;
            font-weight: 500;
        }
        .subtext {
            font-size: 12px;
            letter-spacing: 4px;
            opacity: 0.5;
        }


        .scansleft {
            margin-top: 10px;
        }
        .remaining {
            margin-top: 10px;
        }

    }


}
