// we mixed scan and scan_complete
#scan {
    .qrcode {
        width: 400px;
        height: 400px;
        margin: 40px auto;
    }

    .checkin-button {
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top: 40px;
        padding-bottom: 40px;

        text-align: center;

        display: flex;
        flex-direction: column;
        .anode {
            font-size: 24px;
            margin-top: 5px;
            font-weight: 400;
        }
    }

    .earned,.scansleft,.remaining {
        margin: 80px auto 20px auto;

        .amount {
            span {
                opacity: 0.6;
            }
            display: block;
            font-weight: 800;
            font-size: 48px;
            color: #FFFFFF;
            letter-spacing: 6.44px;
            text-align: center;
            padding-right: 1em;
        }
        .subtext {
            display: block;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 20px;
            text-align: center;
            overflow: hidden;
            margin-top: 10px;
            opacity: 0.8;
        }
    }


        @media screen and (max-width: 900px) {
            .earned {
                margin-top: 140px;
                .amount {
                    padding: 0;
                }
            }
        }

    .stats {
        width: 350;
        margin: 0px auto;

        .amount {
            padding: 0;
            font-size: 32px;
            font-weight: 500;
        }
        .subtext {
            font-size: 12px;
            letter-spacing: 4px;
            opacity: 0.5;
        }


        .scansleft {
            margin-top: 10px;
        }
        .remaining {
            margin-top: 10px;
        }

    }

    // Completed
    &.completed {
        .earned {
            .amount {
                font-weight: 500;
                font-size: 32px;
            }
            .subtext {
                display: block;
                font-size: 12px;
                letter-spacing: 10px;
            }
        }
        h2.completed-all {
            margin: 50px auto;
            text-align: center;
            font-size: 32px;

            font-weight: 800;
            color: $green;
            text-transform: uppercase;
        }

        .funny-image {
            width: 400px;
            margin: 0 auto;
        }

        .time-to-next-scan-session {
            h3 {
                display: block;
                font-size: 12px;
                color: #FFFFFF;
                letter-spacing: 15px;
                text-align: center;
                overflow: hidden;
                margin-top: 10px;
                opacity: 0.8;
                padding-right: 24px;
            }

            .clock {
                margin-top: 20px;
                text-align: center;

                letter-spacing: 10px;

                span.sep {
                    margin: 0 4px;
                }

                font-size: 32px;

                .hours {}
                .minutes {}
                .seconds {}
            }

        }
    }
}
