@import "reset";
@import "grid";

$background: #250561;
$green: #BBFF00;
$purple: #C5A6FF;

@import "shared";

.no-impl {
    font-size: 22px;
    width: 300px;
    display: block;
    margin: 200px auto;
}

body {
    background: url(/img/background.jpg) no-repeat center top fixed;
    background-color: $background;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

    user-select: none;
}

#development-build {
    background: red;
    color: white;
    text-align: center;
    padding: 2px;
    letter-spacing: 25px;
}

.container {
    max-width: 940px;

    margin: 0px auto;
    position: relative;
    // need this to position correctly???
    border: 1px solid rgba(1,0,0,0);
}

#container-background { display:none; }

#container-background.auth {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.3);
    z-index: -10;
}

.content {
    min-height: 600px;
}

#header {
    padding-top: 20px;
    // position: relative;
    #logo {
	// center when loading non-auth pages
        @media screen and (max-width: 900px) {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
        }
        a {display: inline-block; width: 100px}
        h1 {
            display: block;
            width: 93px; 
            height: 40px;
            background: url("/img/logo.png") no-repeat;
            span { display: none; }
        }
        
    }

    // let logo dissapear when we are logged
    // in
    @media screen and (max-width: 900px) {
	&.auth {
	    #logo {
	       display: none;
	    }
        }
    }


    .conversion-rate {
        @media screen and (max-width: 900px) {
		display: none;
        }
        &>span:nth-child(1) {
            display: block;
            font-size: 24px;
            font-weight: 600;
            color: #FFFFFF;
            letter-spacing: 3.6px;
            text-align: right;
        }
        &>span:nth-child(2) {
            display: block;
            font-size: 9.6px;
            color: $purple;
            letter-spacing: 2.14px;
            text-align: right;
        }
    }




    #mobile-with-opes-screenshot {
        width: 218px;
        height: 486px;
        position: absolute;
        right: -110px;
        top: 120px;
        background: url(/img/mobile-with-opes-screenshot.png) no-repeat;


	// only show on large widths
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}



.streak-program {
    h1 {
        margin-top: 40px;
        text-align: center;
        span:first-child {
            font-weight: 800;
        }
        font-size: 38.4px;
        color: #FFFFFF;
        letter-spacing: 6.65px;
        font-weight: 300;


        @media screen and (max-width: 900px) {
            font-size: 24px;
        }
    }

    p {
        margin-top: 12px;
        text-align: center;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 1.8px;
    }
}


.flash {
    text-align: center;
    transition: 1s;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 74px;
    text-align: center;
    span {
        display: inline-block;
        padding: 8px 24px;
        min-width: 100px;
        background-color: orange;
        letter-spacing: 4px;
        border-radius: 8px;
    }

}

@import "menu";
@import "index";
@import "login";
@import "dashboard";
@import "scan";

#footer {
    margin-top: 40px;
    background: #12003C;
    min-height: 200px;

    padding: 42px;

    h3 {
        font-size: 16px;
        color: #957BC9;
        letter-spacing: 2.4px;
        text-transform: uppercase;

        span { 
            display: inline-block; 
            width: 4px;
            height: 0.8em; 
            background-color: #96C11F;
            margin-right: 22px;
        }
    }

    ul {
        margin-top: 20px;
        li {
            margin-bottom: 20px;
            a {
                font-size: 14px;
                color: #96C11F;
                letter-spacing: 1.22px;
        }
        }
    }
}

#copyright {
    background: #000;
    font-size: 12px;
    color: #535252;
    letter-spacing: 1.8px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}



